.header {
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
}

mat-toolbar.mat-primary {
    display: flex;
    align-items: center;
    padding: 0 16px;
    background: #2d545e;
    height: 64px;
}

.ctr {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.homebtn {
    vertical-align: middle;
}

.bookmarkbtn {
    margin-left: 20px;
}

.search-button {
    margin-left: 10px;
}

.fill-space {
    flex: 1 1 auto;
}

.user-button,
.change-password, 
.logout-btn {
    margin-left: 10px;
}

.material-icons {
    vertical-align: middle;
    font-size: 24px;
}

button span {
    vertical-align: middle;
}

@media screen and (max-width: 768px) {
    button span {
        display: none;
    }
    
    .bookmarkbtn {
        margin-left: 10px;
    }
    
    .ctr {
        font-size: 1.2rem;
    }
    
    mat-toolbar {
        padding: 0 8px;
    }
}



.mat-menu-item {
    display: flex;
    align-items: center;
    width: auto;
}









