<div class="change-password">
  <h2>Change Password</h2>
  <form (ngSubmit)="changePassword()">
    <div class="form-group">
      <label for="oldPassword">Old Password:</label>
      <div class="input-wrapper">
        <input
          type="{{ showOldPassword ? 'text' : 'password' }}"
          id="oldPassword"
          [(ngModel)]="oldPassword"
          name="oldPassword"
          required
        >
        <button type="button" (click)="showOldPassword = !showOldPassword" class="toggle-visibility">
          <i class="material-icons">{{ showOldPassword ? 'visibility' : 'visibility_off' }}</i>
        </button>
      </div>
    </div>

    <div class="form-group">
      <label for="newPassword">New Password:</label>
      <div class="input-wrapper">
        <input
          type="{{ showNewPassword ? 'text' : 'password' }}"
          id="newPassword"
          [(ngModel)]="newPassword"
          name="newPassword"
          required
        >
        <button type="button" (click)="showNewPassword = !showNewPassword" class="toggle-visibility">
          <i class="material-icons">{{ showNewPassword ? 'visibility' : 'visibility_off' }}</i>
        </button>
      </div>
    </div>

    <div class="form-group">
      <label for="confirmPassword">Confirm Password:</label>
      <input
        type="password"
        id="confirmPassword"
        [(ngModel)]="confirmPassword"
        name="confirmPassword"
        required
      >
    </div>

    <button type="submit" class="submit-button">Change Password</button>
  </form>
</div>
