.job-thumbnail {
    -webkit-font-smoothing: antialiased;
    width: 280px;
    margin: 0px 10px;
    border: 1px solid darkslategrey;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow */
    background: #eaeaea;
    transition: all 0.3s ease-in-out; /* Smooth transitions */

}


.job-overview{
    height: 65px;
    overflow-x: hidden;
    overflow-y:auto;

}

.job-actions {
    padding: 10px; /* Add padding */
    text-align: right;
}

.mat-card.job-thumbnail.mat-card{
    display:inline-table;
    margin-bottom:50px; 
}
.mat-card{
    transition: all 0.2s ease-in-out; 
 
 }
.mat-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}


 
 .job-thumbnail:hover {
    cursor: pointer;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2); /* Enhanced hover shadow */
    transform: scale(1.05); /* Slight hover scaling */
}

.mat-card-header {
    height:70px;
    padding-bottom: 8px;
    overflow: hidden;
}

.mat-card-content{
    padding: 12px;
}

.title{

    font-size: 15px;
}

.jobTitle{

    font-size: 12px;
}

.addButton,
.deleteButton,
.updateButton {
    color: white; /* Text color */
    border-radius: 4px; /* Rounded corners */
    transition: all 0.2s ease-in-out; /* Smooth transition for hover */
}

.addButton:hover,
.deleteButton:hover,
.updateButton:hover {
    transform: scale(1.05); /* Slight hover scaling */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow on hover */
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 8px; /* Space between buttons */
}





.job-subtitle {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}



.mat-card-content h5, .title {
    margin: 6px 0;
    line-height: 1.4;
    font-size: 13px;
}

